
    @keyframes shatter {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        50% {
            transform: scale(0.5);
            opacity: 0.5;
        }
        100% {
            transform: scale(0) rotate(360deg);
            opacity: 0;
        }
    }

    .shatter-effect {
        animation: shatter 1s forwards; 
    }


    #actorSearch .modal-content {
        padding: 20px;
    }
    
    #actorSearch .btn {
        min-width: 90px; 
    }
    
    #actorSearch #actorId {
        min-width: 60px; 
        display: inline-block;
        text-align: center;
    }
    

    
